<li class="post-result-item">
	<article class="post-result-card">
		<small>
			<a class="js-category" href="#"></a>
		</small>
		<div class="post-result-card__content">
			<div>
				<h3>
					<a class="js-title"></a>
				</h3>
				<small>{'by '}<a class="js-author" href="#"></a></small>
			</div>
			<p class="js-description"></p>
			<a class="js-link" href="#"><span>Read Post</span></a>
		</div>
	</article>
</li>
